* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
  color: #19191D;
}

.navbar {
  position: sticky;
  z-index: 999;
  /* position: -webkit-sticky; */
  top: 0;
  padding: 1rem 9.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.container.hero {
  padding: 5rem 9.25rem;
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  line-height: 150%;
}

.hero-subtext {
  font-size: 1.25rem;
  font-family: "DM Mono", monospace;
  line-height: 150%;
}

h1 {
  font-size: 3rem;
  font-family: "DM Mono", monospace;
  line-height: 150%;
}

h2 {
  font-size: 2rem;
  font-family: "DM Mono", monospace;
  line-height: 150%;
}

p {
  font-size: 1.125rem;
  font-family: "Work Sans", sans-serif;
  line-height: 175%;
}

ol li {
  font-size: 1.125rem;
  font-family: "Work Sans", sans-serif;
  line-height: 175%;
}

ol {
  margin-left: 1.5rem;
}

a {
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  color: #19191D;
  /* transition: 200s ease-in-out; */
}

.navbar a:hover, .container.hero a:hover, .container.footer a:hover {
  /* color: #F92F60; */
  text-decoration: line-through;
}

.nav-links a p {
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  line-height: 150%;
}

.sidenav {
  width: 15.75rem;
  padding: 5rem 0 5rem 9.25rem;
  position: sticky;
  top: 0rem;
}

.sidenav p {
  font-size: 1rem;
  color: #7C7C86;
}

.container {
  padding: 5rem 9.25rem;
}

.card {
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  flex-grow: 1;
  transition: 150ms ease-in-out;
  border: #F4F4F5 solid 2px;
}

.card:hover {
  filter: drop-shadow(0px 0px 16px rgba(24, 24, 27, 16%));
  /* transform: scale(106%); */
  /* transform: rotate(5deg); */
  transform: translateY(-1.5rem);
}

.card img {
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  line-height: 150%;
}

h4 {
  font-size: 1.125rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  line-height: 150%;
}

.card p {
  font-size: 1rem;
  font-family: "DM Mono", monospace;
  line-height: 150%;
  color: #A1A1AA;
}

.card-container {
  display: flex;
  gap: 1rem;
}

.project-details {
  display: flex;
}

img {
  width: 100%;
}

img.icon {
  max-width: 1.5rem;
}

.col-container {
  display: flex;
  gap: 2rem;
}

.cols {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 33.3%;
}

.progress-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 80%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #19191D;
  font-size: 1.125rem;
}

.overlay-container {
  position: relative;
  text-align: center;
}

.subheading {
  color: #7C7C86;
  font-size: 1rem;
}

.gap-xs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gap-sm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gap-md {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.gap-lg {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 9.25rem 5rem;
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  line-height: 150%;
}

.footer p {
  font-size: 1rem;
}

video {
  width: 100%;
}

.row.lg {
  gap: 1.5rem;
}

.row {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.row.center {
  align-items: center;
}

.row.sm {
  gap: 0.75rem;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-2-3 p {
  font-size: 1rem;
}


.scrollable.mac {
  max-width: 46.5rem;
  aspect-ratio: 1.54/1;
}

.desktop {
  aspect-ratio: 1.4/1;
}

.scrollable.tablet {
  max-width: 46.5rem;
  aspect-ratio: 1/1.52;
}

.scrollable.mobile {
  max-width: 23.44rem;
  aspect-ratio: 1/2.17;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.scrollable {
  border: #E4E4E7 solid 2px;
  border-radius: 0.75rem;;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  border: #F4F4F5 solid 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.details-container {
  background: #FAE5F0;
  border-radius: 1rem;
  padding: 1.5rem;
}

.quote-container {
  padding: 1rem 1.5rem;
  border: #E83A87 solid 2px;
  border-radius: 1rem;
  background: #FFFAFC;
}

.quote-container p {
  font-size: 1rem;
}

.button {
  display: inline-block;
  background: #E2EDFD;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: #C4D4F6 solid 2px;
  transition: 200ms ease-in-out;
}

.button:hover {
  /* transform: scale(106%); */
  transform: rotate(3deg);
  background: #C4D4F6;
}

hr {
  border: 1px solid #d4d4d4;
}

@media screen and (min-width: 1400px) {
  body {
    max-width: 1400px; 
    margin: 0 auto; 
  }
}
